/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ccc;
}

.header-left {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-right a {
  text-decoration: none;
  color: #0073e6;
  font-size: 1rem;
}

header a:hover {
  text-decoration: underline;
}

main {
  padding: 20px 50px;
}

.main-container {
  margin: 0 auto; /* Centers the container horizontally */
  width: 75%; /* Sets the width to 50% of the screen */
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center; /* Centers text inside the container */
}

.content-section {
  margin: 20px auto; /* Centers the div horizontally */
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  min-height: 200px; /* Placeholder height */
}

section h2 {
  font-size: 2rem;
}

section p {
  padding: 0 1rem;
  line-height: 2rem;
}

section ul {
  padding: 0 3rem;
}

section li {
  line-height: 2rem;
}

section img {
  max-width: 100%;
}

code {
  padding: 1rem !important;
  border: 1px solid #ccc;
}

.content-section section {
  margin-top: 2rem;
}

iframe {
  width: 100%;
  min-height: 100%;
  height: 75vh;
}

.report-dashboard {
  height: 75vh;
}

.report-correlation {
  height: 35vh;
}

.code-explain {
  margin: 1rem 0;
  padding: 0;
}

.question-section div {
  margin: 2rem 0;
  padding: 1rem 0;
}
